*{
    margin: 0;
    padding: 0;
    /* font-family: popppins,sans-serif; */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #302e2e;
    color: #fff;

   
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/header-image.png) ;
    background-size: cover;
    background-position: center;
    padding: 10% 8%;
    position: relative;
   
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    align-items: center;

}
nav img{
    width: 150px;
    cursor: pointer;
}
button{
    background-color: red;
    padding: 8px 16px;
    margin:7px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.language{
  background: transparent;
  border: 1px solid white;
}
.language img{
    width: 12px;
}
.header_content{
    text-align: center;
    
    width: 85%;
    margin: auto;
    margin-top: 13%;
   

}
.header_content h1{
    font-size: 45px;
    font-weight: 900;
}
.header_content h3{
   font-size: 20px; 
}
.header_content p{
    font-size: 20px;
}
.input{
    padding: 20px;
}
.input .email{
    padding: 18px 150px 18px 10px;
    background: transparent;
   
    border: 1px solid white;
    color: #fff;
    border-radius: 5px;
}
.input .started{
   padding:15px 30px 16px 10px ;
   font-size: 20px;
}

/* ............................. */
.box1{
    margin-top: 10px;
    display: grid;
 
    grid-template-columns:35% 35%;
    grid-template-rows: 80%;
    justify-content: center;
    align-content: center;
 
    gap: 12px;
    
     height: 70vh;
    /* border: 2px solid green; */
     background-color: black;   
}

.box1 div h1{
    margin-top: 20%;
    /* border: 1px solid red; */
}


.box2{
    margin-top: 8px;
   display: grid;
 
   grid-template-columns:40% 35%;
   grid-template-rows: 80%;
   justify-content: center;
   align-content: center;

   gap: 6px;
   
    height: 70vh;
   /* border: 2px solid green; */
    background-color: black;
}

.box_content2 img{
    object-fit: cover;
    width: 100%;
}
.box_image2 h1{
   font-size: 40px;
   font-weight: 900;
}
.box_image2 p{
    font-size: 20px;
}

.box3{
    margin-top: 8px;
    display: grid;
 
    grid-template-columns:40% 35%;
    grid-template-rows: 80%;
    justify-content: center;
    align-content: center;
 
    gap: 6px;
    
     height: 70vh;
    /* border: 2px solid green; */
     background-color: black;  
}
.box4{
    margin-top: 8px;
    display: grid;
 
    grid-template-columns:40% 35%;
    grid-template-rows: 80%;
    justify-content: center;
    align-content: center;
 
    gap: 6px;
    
     height: 70vh;
    /* border: 2px solid green; */
     background-color: black; 
}


.box5{
    
  /* text-align: center; */
  width: 100%;
  
  /* margin: auto; */
  margin-top: 8px;
  background-color: black;
  border: 1px solid black;
}
.box5 div{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: black;
    /* border: 1px solid rgb(7, 182, 7); */
}


@media screen and (max-width:770px){
    
    .box1,.box3,.box4{
       display:inline-block; 
       
      
    
    }
    .box1,.box3,.box4 div{
        width:100%;
        /* margin-top: 40px; */
        text-align: center;
    }
    

    .box2{
       display:inline-block;
       
    }
    .box2 div{
        width: 100%;
        text-align: center;
    }
}


.h1{
padding-top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
   
}

#Question p{
    background-color: #2b2a2a;
    padding: 30px;
    text-align: left;
    
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#Question p:hover{
    background-color: #474646;
}


#Question div{
    background-color:#2b2a2a;
    
    margin-top: 1px;
    width: 100%;
    text-align: left;
    transition: 0.5s;
    /* padding: 20px; */
    font-size: 22px;
    /* border: 1px solid red; */
    max-height: 0;
    overflow: hidden;
}
#lower{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 70px;
    /* border: 1px solid red; */
}
#lower p{
    font-size: 20px;
}
#lower input{
    padding: 18px 180px 18px 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
#lower button{
padding: 15px;
font-size: 20px;
}
/* ........................................... */

#footer{
    margin-top: 6px;
    border: 1px solid black;
    width: 100%;
    height: 60vh;
    background-color: black;
}
#footer>div{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    /* border: 1px solid red; */
}
#linka{
    width: 100%;
    display: flex;
 /* border: 1px solid red; */
 
}
#linka>a{
   flex-basis: 25%;
   padding: 10px; 
   color: #fff;
   font-size: 14px;
}
a{
    color: #fff;
}
/* #trans{
    width: 30px;
    padding: 0px;
    text-align: center;
    height: 5px;
} */